* {
    box-sizing: border-box;
    background-color: rgb(222, 222, 253);
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
    margin-top: 25px;
    background: white;
    border: 2px solid darkgray;
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 black;
}

.calculator-display {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: white;
    height: 80px;
    font-size: 55px;
    border-top: 1px solid black;
    border-radius: 3px;
    overflow: hidden;
}

.flex-grid-row1, .flex-grid-row2, .flex-grid-row3, .flex-grid-row4, .flex-grid-row5 {
    background-color: white;
    display: flex;
}

.number, .decimal-operator, .clear, .backUp {
    background-color: lightgray;
    padding: 10px;
    width: 25%;
    font-size: 20px;
    margin: 2px;
    border-radius: 10px;
}

.operator {
    background-color: darkgray;
    padding: 10px;
    width: 25%;
    font-size: 20px;
    margin: 2px;
    border-radius: 10px;
}

.equals {
    color: white;
    background-color: blue;
    padding: 10px;
    width: 75%;
    font-size: 20px;
    margin: 2px;
    border-radius: 10px;
}

.equals:hover {
    background-color: darkblue;
}

button {
    border: 1px solid darkgray;
    box-shadow: 0 1px 2px 0 black;
}

button:hover{
    background-color: gray;
}
